In [1]:
import pandas as pd
import numpy as np
import os
import sys

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
cwd = os.getcwd()

education_folder_path = os.path.dirname(cwd)

sys.path.append(education_folder_path)

In [ ]:
from global_functions import remove_spaces_in_columns, up_load_df, first_15_division

In [4]:
#בתי ספר ממשרד החינוך בכל הארץ
Gschool=up_load_df(r'{}\background_files\ministry_of_education\מוסדות'.format(education_folder_path),'schools_2023')
Gschool = remove_spaces_in_columns(Gschool)
Gschool['מספר_תלמידים'] = Gschool['מספר_תלמידים'].fillna(0)

In [5]:
#יישובים בשטח צתאל שם וקוד יישוב
JTMT_setls=up_load_df(r'{}\background_files'.format(education_folder_path),'210615_מקוצר_רשימת_יישובים_באחריות_צתאל')
JTMT_setls = remove_spaces_in_columns(JTMT_setls)

In [6]:
Gschool=Gschool[Gschool['יישוב'].isin(JTMT_setls['שם_יישוב'])]

In [7]:
Gschool=Gschool[Gschool['יישוב'] != 'ירושלים']
Gschool=Gschool[Gschool['יישוב'] != 'בית שמש']
# Gschool.to_excel('Gschool_JTMT_setls_schools.xlsx', index=False)

Gschool.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,"כתובת_חט""ב",טלפון,"דוא""ל_מזכירות",סוג_חינוך,מעמד_משפטי,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים
1,110098,השחר,טל שחר,טל שחר,NaN,08-9349345,NaN,רגיל,רשמי,ממלכתי,יהודי,ירושלים,א - ו,420.00
15,110726,מתתיהו,צלפון,צלפון 5,NaN,02-9911647,sigalyeh1@hinuchm.k12.il,רגיל,רשמי,ממלכתי דתי,יהודי,ירושלים,א - ו,349.00
16,110734,הר טוב,צרעה,צרעה 28,NaN,02-9908900,NaN,רגיל,רשמי,ממלכתי,יהודי,ירושלים,א - ו,513.00
24,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",NaN,02-6431318,yaelelk1@hinuchm.k12.il,רגיל,רשמי,ממלכתי,יהודי,ירושלים,א - ו,545.00
29,111195,חברון בנות,קרית ארבע,נחל אשכול 407,NaN,02-9961050,zipporahapo@hinuchm.k12.il,רגיל,רשמי,ממלכתי דתי,יהודי,ירושלים,א - ו,293.00

In [8]:
rows_with_zero_students = Gschool[Gschool['מספר_תלמידים'] == 0]
# rows_with_zero_students.to_excel('rows_with_zero_students.xlsx', index=False)
rows_with_zero_students.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,"כתובת_חט""ב",טלפון,"דוא""ל_מזכירות",סוג_חינוך,מעמד_משפטי,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים
151,113712,"ת""ת דעת זקנים",מודיעין עילית,מסילת ישרים 7,NaN,08-9740710,esterhor2@hinuchm.k12.il,רגיל,פטור,חרדי,יהודי,מוכרים,א - ח,0.00
185,114322,"ת""ת אהלי ספר",מודיעין עילית,אור החיים 27,NaN,08-9740799,hadassahkav@hinuchm.k12.il,רגיל,מוכר שאיננו רשמי,חרדי,יהודי,רשת החינוך העצמאי,א - ח,0.00
230,120014,נוף הרים,איתנים,איתנים,NaN,02-5705135,daliasou@hinuchm.k12.il,מיוחד,רשמי,ממלכתי,יהודי,ירושלים,גן - יב,0.00
406,142232,ישיבת תומכי תמימים,ביתר עילית,כף החיים 7,NaN,02-5800083,hayaeis1@hinuchm.k12.il,רגיל,מוכר שאיננו רשמי,חרדי,יהודי,מוכרים,ט - יב,0.00
407,142265,"סוסיא-ישיבת בני""ע",סוסיה,סוסיה,NaN,02-9963584,nirabar3@hinuchm.k12.il,רגיל,מוכר שאיננו רשמי,ממלכתי דתי,יהודי,חינוך התישבותי,ט - יב,0.00

In [9]:
rows_with_no_zero_students = Gschool[Gschool['מספר_תלמידים'] == 0]
# rows_with_no_zero_students.to_excel('rows_with_no_zero_students.xlsx', index=False)
rows_with_no_zero_students.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,"כתובת_חט""ב",טלפון,"דוא""ל_מזכירות",סוג_חינוך,מעמד_משפטי,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים
151,113712,"ת""ת דעת זקנים",מודיעין עילית,מסילת ישרים 7,NaN,08-9740710,esterhor2@hinuchm.k12.il,רגיל,פטור,חרדי,יהודי,מוכרים,א - ח,0.00
185,114322,"ת""ת אהלי ספר",מודיעין עילית,אור החיים 27,NaN,08-9740799,hadassahkav@hinuchm.k12.il,רגיל,מוכר שאיננו רשמי,חרדי,יהודי,רשת החינוך העצמאי,א - ח,0.00
230,120014,נוף הרים,איתנים,איתנים,NaN,02-5705135,daliasou@hinuchm.k12.il,מיוחד,רשמי,ממלכתי,יהודי,ירושלים,גן - יב,0.00
406,142232,ישיבת תומכי תמימים,ביתר עילית,כף החיים 7,NaN,02-5800083,hayaeis1@hinuchm.k12.il,רגיל,מוכר שאיננו רשמי,חרדי,יהודי,מוכרים,ט - יב,0.00
407,142265,"סוסיא-ישיבת בני""ע",סוסיה,סוסיה,NaN,02-9963584,nirabar3@hinuchm.k12.il,רגיל,מוכר שאיננו רשמי,ממלכתי דתי,יהודי,חינוך התישבותי,ט - יב,0.00

In [10]:
#קאורדינטות של מוסדות חינוך במרחב ירושלים
JTMT_setls_schools_coordinates_with_src=up_load_df(r'{}\background_files'.format(education_folder_path),'JTMT_setls_schools_coordinates_with_src')
JTMT_setls_schools_coordinates_with_src=remove_spaces_in_columns(JTMT_setls_schools_coordinates_with_src)

In [11]:
JTMT_setls_schools_coordinates_with_src.head()

   סמל_מוסד  coordinate_x  coordinate_y                     SRC
0    110023     219040.00     633692.00  moe_mosdot_coordinates
1    110098     190867.00     634787.00  moe_mosdot_coordinates
2    110130     220523.00     630416.00  moe_mosdot_coordinates
3    110155     218115.00     632094.00  moe_mosdot_coordinates
4    110171     220854.00     629272.00  moe_mosdot_coordinates

In [12]:
is_unique = JTMT_setls_schools_coordinates_with_src['סמל_מוסד'].is_unique
is_unique

True

In [13]:
# מיזוג הטבלאות לפי העמודה "סמל_מוסד"
Gschool = pd.merge(Gschool, JTMT_setls_schools_coordinates_with_src[['סמל_מוסד', 'coordinate_x', 'coordinate_y', 'SRC']],
                     on='סמל_מוסד', how='left')

In [14]:
Gschool=Gschool.drop(columns=['כתובת_חט"ב', "טלפון", 'דוא"ל_מזכירות', "מעמד_משפטי"])

In [15]:
Gschool['coordinate_x'] = Gschool['coordinate_x'].fillna(0)
Gschool['coordinate_y'] = Gschool['coordinate_y'].fillna(0)
Gschool.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים,coordinate_x,coordinate_y,SRC
0,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,420.00,190867.00,634787.00,moe_mosdot_coordinates
1,110726,מתתיהו,צלפון,צלפון 5,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,349.00,194187.00,634711.00,moe_mosdot_coordinates
2,110734,הר טוב,צרעה,צרעה 28,רגיל,ממלכתי,יהודי,ירושלים,א - ו,513.00,197528.00,630138.00,moe_mosdot_coordinates
3,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",רגיל,ממלכתי,יהודי,ירושלים,א - ו,545.00,214636.00,631692.00,moe_mosdot_coordinates
4,111195,חברון בנות,קרית ארבע,נחל אשכול 407,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,293.00,211257.00,604302.00,moe_mosdot_coordinates

In [16]:
JTMT_setls_schools_with_coordinates = Gschool[Gschool['coordinate_x'] != 0]
JTMT_setls_schools_with_coordinates.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים,coordinate_x,coordinate_y,SRC
0,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,420.00,190867.00,634787.00,moe_mosdot_coordinates
1,110726,מתתיהו,צלפון,צלפון 5,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,349.00,194187.00,634711.00,moe_mosdot_coordinates
2,110734,הר טוב,צרעה,צרעה 28,רגיל,ממלכתי,יהודי,ירושלים,א - ו,513.00,197528.00,630138.00,moe_mosdot_coordinates
3,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",רגיל,ממלכתי,יהודי,ירושלים,א - ו,545.00,214636.00,631692.00,moe_mosdot_coordinates
4,111195,חברון בנות,קרית ארבע,נחל אשכול 407,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,293.00,211257.00,604302.00,moe_mosdot_coordinates

In [17]:
JTMT_setls_schools_without_coordinates = Gschool[Gschool['coordinate_x'] == 0]
JTMT_setls_schools_without_coordinates

Empty DataFrame
Columns: [סמל_מוסד, שם_מוסד, יישוב, כתובת, סוג_חינוך, סוג_פיקוח, מגזר, יחידת_דיווח, שכבה, מספר_תלמידים, coordinate_x, coordinate_y, SRC]
Index: []

In [18]:
Gschool[['מכיתה', 'עד_כיתה']] = Gschool['שכבה'].str.split(' - ', expand=True)
Gschool.rename(columns={'מספר_תלמידים': 'סה"כ_תלמידים'}, inplace=True)
Gschool.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,"סה""כ_תלמידים",coordinate_x,coordinate_y,SRC,מכיתה,עד_כיתה
0,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,420.00,190867.00,634787.00,moe_mosdot_coordinates,א,ו
1,110726,מתתיהו,צלפון,צלפון 5,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,349.00,194187.00,634711.00,moe_mosdot_coordinates,א,ו
2,110734,הר טוב,צרעה,צרעה 28,רגיל,ממלכתי,יהודי,ירושלים,א - ו,513.00,197528.00,630138.00,moe_mosdot_coordinates,א,ו
3,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",רגיל,ממלכתי,יהודי,ירושלים,א - ו,545.00,214636.00,631692.00,moe_mosdot_coordinates,א,ו
4,111195,חברון בנות,קרית ארבע,נחל אשכול 407,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,293.00,211257.00,604302.00,moe_mosdot_coordinates,א,ו

In [ ]:
# הגדרת רשימת הכיתות לטווח א' עד ח'
class_map = ['גן' ,'א', 'ב', 'ג', 'ד', 'ה', 'ו', 'ז', 'ח', 'ט', 'י', 'יא', 'יב', 'יג', 'יד']

# הגדרת עמודות לכיתות עם NaN כערך ברירת מחדל
for single_class in class_map:
    Gschool[f'כיתה_{single_class}'] = np.nan

# פונקציה לחישוב מספר התלמידים לכל כיתה בטווח
def first_15_division(row):
    start_idx = class_map.index(row['מכיתה'])
    end_idx = class_map.index(row['עד_כיתה'])
    class_range = class_map[start_idx:end_idx + 1]

    students_remaining = row['סה"כ_תלמידים']
    for single_class in class_range:
        students_in_class = min(15, students_remaining)
        row[f'כיתה_{single_class}'] = students_in_class
        students_remaining -= students_in_class

    row['סה"כ_תלמידים'] = students_remaining
    return row


# החלת הפונקציה על כל השורות בטבלה
Gschool = Gschool.apply(first_15_division, axis=1)

# הצגת הטבלה החדשה
Gschool.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,"סה""כ_תלמידים",coordinate_x,coordinate_y,SRC,מכיתה,עד_כיתה,כיתה_גן,כיתה_א,כיתה_ב,כיתה_ג,כיתה_ד,כיתה_ה,כיתה_ו,כיתה_ז,כיתה_ח,כיתה_ט,כיתה_י,כיתה_יא,כיתה_יב,כיתה_יג,כיתה_יד
0,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,330.00,190867.00,634787.00,moe_mosdot_coordinates,א,ו,NaN,15.00,15.00,15.00,15.00,15.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110726,מתתיהו,צלפון,צלפון 5,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,259.00,194187.00,634711.00,moe_mosdot_coordinates,א,ו,NaN,15.00,15.00,15.00,15.00,15.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110734,הר טוב,צרעה,צרעה 28,רגיל,ממלכתי,יהודי,ירושלים,א - ו,423.00,197528.00,630138.00,moe_mosdot_coordinates,א,ו,NaN,15.00,15.00,15.00,15.00,15.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",רגיל,ממלכתי,יהודי,ירושלים,א - ו,455.00,214636.00,631692.00,moe_mosdot_coordinates,א,ו,NaN,15.00,15.00,15.00,15.00,15.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,111195,חברון בנות,קרית ארבע,נחל אשכול 407,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,203.00,211257.00,604302.00,moe_mosdot_coordinates,א,ו,NaN,15.00,15.00,15.00,15.00,15.00,15.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# פונקציה לחלוקת התלמידים הנותרים שווה בשווה
def equal_distribution_students(row):
    # איתור הטווח של הכיתות
    start_idx = class_map.index(row['מכיתה'])
    end_idx = class_map.index(row['עד_כיתה'])
    class_range = class_map[start_idx:end_idx + 1]
    
    # חישוב מספר התלמידים הנותרים
    students_remaining = row['סה"כ_תלמידים']
    num_of_classes = len(class_range)
    
    if num_of_classes > 0:
        # חלוקת התלמידים הנותרים שווה בשווה לכיתות בטווח
        students_per_class = students_remaining / num_of_classes
        for single_class in class_range:
            # אם יש כבר ערך בעמודת הכיתה, נוסיף את הערך החדש
            if pd.notna(row[f'כיתה_{single_class}']):
                row[f'כיתה_{single_class}'] += students_per_class
            else:
                row[f'כיתה_{single_class}'] = students_per_class

    # עדכון סה"כ תלמידים לאחר חלוקה
    row['סה"כ_תלמידים'] = 0
    return row

# החלת הפונקציה על כל השורות בטבלה
Gschool = Gschool.apply(equal_distribution_students, axis=1)

# הצגת הטבלה החדשה
Gschool.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,"סה""כ_תלמידים",coordinate_x,coordinate_y,SRC,מכיתה,עד_כיתה,כיתה_גן,כיתה_א,כיתה_ב,כיתה_ג,כיתה_ד,כיתה_ה,כיתה_ו,כיתה_ז,כיתה_ח,כיתה_ט,כיתה_י,כיתה_יא,כיתה_יב,כיתה_יג,כיתה_יד
0,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,0,190867.00,634787.00,moe_mosdot_coordinates,א,ו,NaN,70.00,70.00,70.00,70.00,70.00,70.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110726,מתתיהו,צלפון,צלפון 5,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,0,194187.00,634711.00,moe_mosdot_coordinates,א,ו,NaN,58.17,58.17,58.17,58.17,58.17,58.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110734,הר טוב,צרעה,צרעה 28,רגיל,ממלכתי,יהודי,ירושלים,א - ו,0,197528.00,630138.00,moe_mosdot_coordinates,א,ו,NaN,85.50,85.50,85.50,85.50,85.50,85.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",רגיל,ממלכתי,יהודי,ירושלים,א - ו,0,214636.00,631692.00,moe_mosdot_coordinates,א,ו,NaN,90.83,90.83,90.83,90.83,90.83,90.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,111195,חברון בנות,קרית ארבע,נחל אשכול 407,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,0,211257.00,604302.00,moe_mosdot_coordinates,א,ו,NaN,48.83,48.83,48.83,48.83,48.83,48.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
class_map = ['כיתה_גן', 'כיתה_א', 'כיתה_ב', 'כיתה_ג', 'כיתה_ד', 'כיתה_ה', 'כיתה_ו', 'כיתה_ז', 'כיתה_ח', 'כיתה_ט', 'כיתה_י', 'כיתה_יא', 'כיתה_יב', 'כיתה_יג', 'כיתה_יד']

# בדיקה ועדכון כל תא אם מספר התלמידים קטן מ-15
for single_class in class_map:
    Gschool[single_class] = Gschool[single_class].apply(lambda x: x if pd.isna(x) or x >= 15 else 0)

Gschool.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,"סה""כ_תלמידים",coordinate_x,coordinate_y,SRC,מכיתה,עד_כיתה,כיתה_גן,כיתה_א,כיתה_ב,כיתה_ג,כיתה_ד,כיתה_ה,כיתה_ו,כיתה_ז,כיתה_ח,כיתה_ט,כיתה_י,כיתה_יא,כיתה_יב,כיתה_יג,כיתה_יד
0,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,0,190867.00,634787.00,moe_mosdot_coordinates,א,ו,NaN,70.00,70.00,70.00,70.00,70.00,70.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,110726,מתתיהו,צלפון,צלפון 5,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,0,194187.00,634711.00,moe_mosdot_coordinates,א,ו,NaN,58.17,58.17,58.17,58.17,58.17,58.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,110734,הר טוב,צרעה,צרעה 28,רגיל,ממלכתי,יהודי,ירושלים,א - ו,0,197528.00,630138.00,moe_mosdot_coordinates,א,ו,NaN,85.50,85.50,85.50,85.50,85.50,85.50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,111096,עין הרים,"עין כרם-בי""ס חקלאי","עין כרם-בי""ס חקלא 5",רגיל,ממלכתי,יהודי,ירושלים,א - ו,0,214636.00,631692.00,moe_mosdot_coordinates,א,ו,NaN,90.83,90.83,90.83,90.83,90.83,90.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,111195,חברון בנות,קרית ארבע,נחל אשכול 407,רגיל,ממלכתי דתי,יהודי,ירושלים,א - ו,0,211257.00,604302.00,moe_mosdot_coordinates,א,ו,NaN,48.83,48.83,48.83,48.83,48.83,48.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
Gschool.to_excel('Gschool.xlsx', index=False)

In [23]:
# חלוקה לשכבות גיל
ages = {
    'ele': ['כיתה_א', 'כיתה_ב', 'כיתה_ג', 'כיתה_ד', 'כיתה_ה', 'כיתה_ו'],
    'mid': ['כיתה_ז', 'כיתה_ח', 'כיתה_ט'],
    'high': ['כיתה_י', 'כיתה_יא', 'כיתה_יב', 'כיתה_יג', 'כיתה_יד']
}

# חישוב מספר התלמידים לכל שכבה
Gschool['ele_stu'] = Gschool[ages['ele']].sum(axis=1)
Gschool['mid_stu'] = Gschool[ages['mid']].sum(axis=1)
Gschool['high_stu'] = Gschool[ages['high']].sum(axis=1)

#sector
def set_sector(row):
    if row['מגזר'] == 'ערבי':
        return 1
    elif row['מגזר'] == 'יהודי':
        if row['סוג_פיקוח'] == 'חרדי':
            return 2
        elif row['סוג_פיקוח'] in ['ממלכתי', 'ממלכתי דתי']:
            return 3
    return None

Gschool['sector'] = Gschool.apply(set_sector, axis=1)

Gschool.head()

Gschool.rename(columns={'סמל_מוסד': 'ID'}, inplace=True)

Gschool.rename(columns={'coordinate_x': 'x'}, inplace=True)

Gschool.rename(columns={'coordinate_y': 'y'}, inplace=True)

In [24]:
Gschool_final = Gschool.drop(['כיתה_גן', 'יישוב', 'כתובת', 'סוג_פיקוח', 'מגזר', 'יחידת_דיווח', 'שכבה', 'כיתה_א', 'כיתה_ב', 'כיתה_ג', 'כיתה_ד', 'כיתה_ה', 'כיתה_ו', 'כיתה_ז', 'כיתה_ח', 'כיתה_ט', 'כיתה_י', 'כיתה_יא', 'כיתה_יב', 'כיתה_יג', 'כיתה_יד', 'סה"כ_תלמידים', 'מכיתה', 'עד_כיתה', 'שם_מוסד', 'סוג_חינוך'], axis=1)
Gschool_final.head()

,ID,x,y,SRC,ele_stu,mid_stu,high_stu,sector
0,110098,190867.00,634787.00,moe_mosdot_coordinates,420.00,0.00,0.00,3
1,110726,194187.00,634711.00,moe_mosdot_coordinates,349.00,0.00,0.00,3
2,110734,197528.00,630138.00,moe_mosdot_coordinates,513.00,0.00,0.00,3
3,111096,214636.00,631692.00,moe_mosdot_coordinates,545.00,0.00,0.00,3
4,111195,211257.00,604302.00,moe_mosdot_coordinates,293.00,0.00,0.00,3

In [25]:
Gschool_final.to_excel('Gschool_final_1.xlsx', index=False)

In [27]:
is_unique = Gschool['ID'].is_unique
is_unique

True