In [1]:
import pandas as pd
import os
import sys
import requests

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
cwd = os.getcwd()

education_folder_path = os.path.dirname(cwd)

sys.path.append(education_folder_path)

In [3]:
from global_functions import remove_spaces_in_columns, up_load_df

In [4]:
JTMT_setls_schools_with_coordinates=up_load_df(r'{}'.format(cwd),'JTMT_setls_schools_with_coordinates')
JTMT_setls_schools_with_coordinates.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים,coordinate_x,coordinate_y
0,110023,בית יעקב מטרסדורף,ירושלים,זכרון יעקב 3,רגיל,חרדי,יהודי,רשת החינוך העצמאי,א - ח,782.00,219040.00,633692.00
1,110098,השחר,טל שחר,טל שחר,רגיל,ממלכתי,יהודי,ירושלים,א - ו,420.00,190867.00,634787.00
2,110130,סאלד,ירושלים,כט' בנובמבר 6,רגיל,ממלכתי,יהודי,מנח'י,א - ו,328.00,220523.00,630416.00
3,110155,בית הכרם,ירושלים,מעגל בית המדרש 8,רגיל,ממלכתי,יהודי,מנח'י,א - ו,376.00,218115.00,632094.00
4,110171,"תל""י גאולים ע""ש יצחק נבון",ירושלים,קבוץ גלויות 4,רגיל,ממלכתי,יהודי,מנח'י,א - ו,306.00,220854.00,629272.00

In [5]:
JTMT_setls_schools_without_coordinates=up_load_df(r'{}'.format(cwd),'JTMT_setls_schools_without_coordinates')
JTMT_setls_schools_without_coordinates.head()

,סמל_מוסד,שם_מוסד,יישוב,כתובת,סוג_חינוך,סוג_פיקוח,מגזר,יחידת_דיווח,שכבה,מספר_תלמידים,coordinate_x,coordinate_y
0,359836,איליאא,ירושלים,חי זע'ייר 21,רגיל,ממלכתי,ערבי,מנח'י,א - ו,NaN,220820,642486
1,632323,תורת חיים ביתר,ביתר עילית,הרב בנדר 10,רגיל,חרדי,יהודי,מעיין החינוך התורני,א - ד,80.00,211310,623292
2,637231,"בית ספר חב""ד יצהר",יצהר,יצהר 770,רגיל,חרדי,יהודי,מוכרים,א - ו,NaN,222401,675053
3,645986,בית הספר האמריקאי יר,ירושלים,"שד ש""י עגנון 24",רגיל,ממלכתי,ערבי,מוכרים-לא חרדי,א - ז,70.00,219320,629530
4,655233,שירת ציון,כוכב יעקב,אהבת ישראל 57,רגיל,חרדי,יהודי,מוכרים,ט - י,28.00,222637,643097

In [6]:
JTMT_setls_schools_coordinates=up_load_df(r'{}\background_files'.format(education_folder_path),'JTMT_setls_schools_coordinates')
JTMT_setls_schools_coordinates.head()

   סמל_מוסד  coordinate_x  coordinate_y
0    110023     219040.00     633692.00
1    110098     190867.00     634787.00
2    110130     220523.00     630416.00
3    110155     218115.00     632094.00
4    110171     220854.00     629272.00

In [7]:
JTMT_setls_schools_coordinates['SRC'] = JTMT_setls_schools_coordinates['סמל_מוסד'].apply(
    lambda x: 'moe_mosdot_coordinates' if x in JTMT_setls_schools_with_coordinates['סמל_מוסד'].values 
              else 'manual' if x in JTMT_setls_schools_without_coordinates['סמל_מוסד'].values 
              else None
)

JTMT_setls_schools_coordinates.head()

   סמל_מוסד  coordinate_x  coordinate_y                     SRC
0    110023     219040.00     633692.00  moe_mosdot_coordinates
1    110098     190867.00     634787.00  moe_mosdot_coordinates
2    110130     220523.00     630416.00  moe_mosdot_coordinates
3    110155     218115.00     632094.00  moe_mosdot_coordinates
4    110171     220854.00     629272.00  moe_mosdot_coordinates

In [8]:
JTMT_setls_schools_coordinates.to_excel('JTMT_setls_schools_coordinates.xlsx', index=False)

In [ ]:
schools_2023=up_load_df(r'{}\background_files\ministry_of_education\מוסדות'.format(education_folder_path),'schools_2023')
schools_2023=remove_spaces_in_columns(schools_2023)
schools_2023.head()

In [ ]:
Gschool = pd.merge(schools_2023, moe_mosdot_coordinates_2022,
                     on='סמל_מוסד', how='left')
Gschool.head()

In [ ]:
JTMT_setls=up_load_df(r'{}\background_files'.format(education_folder_path),'210615_מקוצר_רשימת_יישובים_באחריות_צתאל')
JTMT_setls = remove_spaces_in_columns(JTMT_setls)
JTMT_setls.head()
Gschool=Gschool[Gschool['יישוב'].isin(JTMT_setls['שם_יישוב'])]
Gschool.head()

In [ ]:
Gschool=Gschool[Gschool['ITM_X'] != 0]
Gschool.head()

In [ ]:
Gschool=Gschool.drop(columns=['שם_מוסד', 'יישוב', 'כתובת', 'כתובת_חט"ב', 'טלפון', 'דוא"ל_מזכירות', 'סוג_חינוך', 'מעמד_משפטי', 'סוג_פיקוח',
                                                                            'מגזר', 'יחידת_דיווח', 'שכבה', 'מספר_תלמידים', 'SHEM_MOSAD', 'UTM_X',
                                                                            'UTM_Y', 'RAMAT_DIYUK_MIKUM'])
Gschool.rename(columns={'ITM_X': 'x'}, inplace=True)
Gschool.rename(columns={'ITM_Y': 'y'}, inplace=True)
Gschool.to_excel('Gschool_JTMT_setls_schools_coordinates.xlsx', index=False)
Gschool.head()

In [ ]:
jerusalem_muni=up_load_df(r'{}\background_files\jerusalem_muni'.format(education_folder_path),'מוסדות בירושלים 2020')
jerusalem_muni=remove_spaces_in_columns(jerusalem_muni)
# jerusalem_muni['src'] = 'moe_mosdot_coordinates'
jerusalem_muni.rename(columns={'סמל_עירייה': 'סמל_מוסד'}, inplace=True)

jerusalem_muni.head()

In [ ]:
# מיזוג הטבלאות לפי העמודה "סמל_מוסד"
Gschool = pd.merge(moe_mosdot_coordinates_2022, jerusalem_muni,
                     on='סמל_מוסד', how='left')
Gschool.head()

In [ ]:
#בתי ספר ממשרד החינוך בכל הארץ
JTMT_setls_schools_with_coordinates=up_load_df(r'{}'.format(cwd),'JTMT_setls_schools_with_coordinates')
JTMT_setls_schools_with_coordinates.head()

In [ ]:
#בתי ספר ממשרד החינוך בכל הארץ
JTMT_setls_schools_without_coordinates=up_load_df(r'{}'.format(cwd),'JTMT_setls_schools_without_coordinates')
JTMT_setls_schools_without_coordinates.head()

In [ ]:
# מיזוג הטבלאות לפי העמודה "סמל_מוסד"
Gschool = pd.merge(JTMT_setls_schools_with_coordinates, JTMT_setls_schools_without_coordinates[['סמל_מוסד', 'coordinate_x', 'coordinate_y']],
                     on='סמל_מוסד', how='left')

In [ ]:
JTMT_setls_schools_coordinates=pd.concat([JTMT_setls_schools_with_coordinates, JTMT_setls_schools_without_coordinates], ignore_index=True)

In [ ]:
JTMT_setls_schools_coordinates.head()

In [ ]:
JTMT_setls_schools_coordinates=JTMT_setls_schools_coordinates.drop(columns=['שם_מוסד', 'יישוב', 'כתובת', 'סוג_חינוך', 'סוג_פיקוח',
                                                                            'מגזר', 'יחידת_דיווח', 'שכבה', 'מספר_תלמידים'])
# JTMT_setls_schools_coordinates.to_excel('JTMT_setls_schools_coordinates.xlsx', index=False)

In [ ]:
JTMT_setls_schools_coordinates=JTMT_setls_schools_coordinates[JTMT_setls_schools_coordinates['coordinate_x'] != 0]
JTMT_setls_schools_coordinates.head()

In [ ]:
GschoolXYNaN = Gschool[Gschool['coordinate_x'].isna()]
Gschool = Gschool[~Gschool['coordinate_x'].isna()]

In [ ]:
is_unique = Gschool['סמל_מוסד'].is_unique
is_unique